.app_nav {
    grid-area: n;
    background-color: lightsteelblue;
    padding-left: 5%;
  }

.item {
  padding: 3px;
}

.item a {
  text-decoration: none;
  color: black;
}

.item a.active {
  color: rgb(235, 11, 11);
}