.info {
    margin: 10px;
}

.pic {
    padding: 3px;
}

.ava {
  max-width: 150px;
}

.description {
  border: solid 1px;
}

ul {
  margin: auto;
}

.contact {
  padding-left: 10px;
}

.editButton {
  right: 0;
}